body {
  display: flex;
  height: 97vh;
  width: 99%;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#imagecat {
  width: 30%;
  height: 30%;
  border-width: 8px;
  border-style: solid;
  border-image: linear-gradient(195deg, #7f707c 0, #81707b 3.33%, #827079 6.67%, #846f76 10%, #856f74 13.33%, #856f72 16.67%, #856f70 20%, #85706e 23.33%, #85706c 26.67%, #84706a 30%, #837169 33.33%, #827168 36.67%, #817266 40%, #7f7366 43.33%, #7d7365 46.67%, #7b7465 50%, #797565 53.33%, #767566 56.67%, #747666 60%, #727767 63.33%, #6f7768 66.67%, #6d786a 70%, #6a786c 73.33%, #68796e 76.67%, #667970 80%, #657972 83.33%, #637974 86.67%, #627976 90%, #617978 93.33%, #61797a 96.67%, #61797c 100%);
  border-image-slice: 1;
  border-radius: 8px;
  padding: 1px;
}

#textoinfo {
  width: 460px;
}

#input {
  width: 5%
}